/* KeyFeatures.css */

.key-features {
    margin: 0px auto;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 8px;
    max-width: 600px;
    text-align: left;
  }
  
  .key-features h2 {
    color: #333;
  }
  
  .key-features h3 {
    color: #4285f4;
  }
  
  .key-features p {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  .key-features ul {
    list-style-type: none;
    padding: 0;
  }
  
  .key-features li {
    margin-bottom: 10px;
  }
  
  .key-features strong {
    font-weight: bold;
    color: #4285f4;
  }
  